body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#mainContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;    
        
}

button{
    background-color: #008CBA;
    width: 160px;
    height: 60px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}


#bContainer{
    display: flex;
    gap: 20px;
    
}

#container{
    display: flex;
    flex-direction: column;  
    align-items: center;         
}

#hands{    
    height: 497px;
    display: flex;
    gap: 160px;
    position: absolute;
    top: 125px;

}

#scoreKeep{
    display: flex;
    color: white;
    align-items: center;
    margin-top: 125px;
    gap: 750px;
    font-size: 27px;
    font-weight: 600;
}



